<!DOCTYPE>
<html>
<head>
	<title>Node.js app</title>
	<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	
	<% include partials/nav.ejs %>
	<h1>Welcome to my Node.JS website</h1>
	<p>It is fun here :D</p>
</body>
</html>